# Dependencias (Las más pesadas)
node_modules/
backend/node_modules/
frontend/node_modules/

# Variables de entorno (Seguridad)
.env

# Archivos de base de datos locales
dev.db
*.db-journal

# Carpetas de compilación
dist/
build/
.next/

# Otros
.DS_Store
*.log