# Database Configuration
DATABASE_URL=postgresql://User_admin:TuPasswordSeguro123!@localhost:5432/Centro_Tecnico_Electronico?schema=public

# JWT Configuration
JWT_SECRET=tu_secreto_super_seguro

# Node Environment
NODE_ENV=development

# Server Port
PORT=5000

# Admin Credentials (for development)
# These are set in the database through scripts/crear_usuarios.sql
ADMIN_USER=admin_pro
ADMIN_PASS=admin123
